:root {
    --background-color-darkMode: hsl(231, 47%, 4%);
    --font-color-darkMode: hsl(44, 15%, 92%);
    --background-color-lightMode: hsl(44, 15%, 92%);
    --nav-bar-background-color-lightMode: hsl(231, 47%, 4%);
    --nav-bar-font-color-lightMode: hsl(44, 15%, 92%);
    --footer-background-color-lightMode: var(--nav-bar-background-color-lightMode);
    --footer-font-color-lightMode: var(--nav-bar-font-color-lightMode);
    --font-color-lightMode: hsl(231, 47%, 4%);
}


/******
                                resets
                                ******/


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg,
iframe {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}


/*******
                                 general
                                 ******/
body {
    /* background: var(--background-color-darkMode);
    color: var(--font-color-darkMode); */
    background: var(--background-color-lightMode);
    color: var(--font-color-lightMode);
}

.section {
    scroll-margin: 8rem;
    padding-top: 3rem;
}


/******
                                 header
                                 ******/


.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--nav-bar-background-color-lightMode);
    color: var(--nav-bar-font-color-lightMode);
    opacity: 0.9;
}

.navContainer {
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
}

.nav {
    font-size: 1rem;
}

.navList {
    list-style: none;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navListItem {}

.navLink {
    text-decoration: none;
    color: inherit;
}

.navLink:hover {
    opacity: 0.8;
}


/****
                                 main
                                 ****/


.main {}


/*****
                                 about
                                 *****/


.about {
    margin-bottom: 5rem;
}

.aboutWrapper {
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
}

.aboutImg {
    margin-inline: auto;
    margin-bottom: 1rem;
}

.aboutText {}

.aboutTitle {
    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}


/************
                                 publications
                                 ***********/


.publications {}

.publicationsWrapper {
    margin-inline: auto;
    max-width: 1200px;
    width: 95%;
}

.publicationContainer {
    position: relative;
    max-width: 60ch;
    margin-inline: auto;
    margin-bottom: 4rem;
}

.publicationContainer::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--font-color-lightMode);
    left: 0;
    bottom: -2rem;
}

.publicationTitle {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.publicationAuthor {}

.publicationDate {}

.publicationDescription {}

.publicationLink {}


/******
                                 videos
                                 ******/

.videos {}

.videosWrapper {
    margin-inline: auto;
    width: 95%;
    max-width: 1200px;
}

.videoContainer {
    margin-inline: auto;
    margin-bottom: 4rem;
    max-width: 60ch;
}

.videoContainer iframe {
    max-height: 34ch;
    margin-bottom: 1rem;
}

.videoTitle {
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.videoDescription {
    font-size: 0.8125rem;
}

.videoShowMore {
    cursor: pointer;
    opacity: 0.7;
}
.videoShowMore:hover {
    opacity: 1;
}

/******
                                 footer
                                 ******/


.footer {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background: var(--footer-background-color-lightMode);
    color: var(--footer-font-color-lightMode);
    opacity: 0.9;
}

.footerContainer {
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
}

.footerList {
    list-style: none;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footerLink {
    text-decoration: none;
    color: inherit;
}

.footerLink:hover {
    opacity: 0.8;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}
.icon:hover {
    opacity: 0.8;
}

/*************
                                 media queries
                                 *************/


@media(min-width: 1000px) {

    .navList {
        font-size: 1.125rem;
        justify-content: flex-start;
        gap: 3rem;
    }

    .about {}

    .aboutWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }


    .aboutTitle {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    .publicationsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calc(2.5rem + 2vw);
    }

    .videosWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calc(2.5rem + 2vw);
    }
}